<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WineLoversClub</title>
   <link href="https://fonts.googleapis.com/css2?family=Convergence&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">
   <script src="/javascripts/application.js"></script>
</head>
<body>
  <header>
     <div class="logo"><h1>WineLoversClub</h1></div>
     <div id="btn-sign"><a href="/signin">Sign In</a></div>
  </header>
  <div class="login-wrapper">
    <div class="login-form"><form action="/session" method="post">
      <label for="email">E-mail</label>
      <input type="text" name="email" id="email">
      <label for="password">password</label>
      <input type="password" name="password" id="password">
      <button class="button" id="press">Log in</button>
      </form>
    </div>
 </div>
 <footer><a href="https://drinkwise.org.au/">DrinkWise.</a></footer>

</body>
</html>