<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WineLoversClub</title>
  <link rel="stylesheet" href='/stylesheets/main.css'>
</head>
<body>
  <header>
     <div class="logo"><h1>WineLoversClub</h1></div><div class="button"><a href="/signin">Sign In</a></div>
  </header>
  <div class="form-wrapper">
    <div class="login-form"><form action="/session" method="post">
      <label for="email">E-mail</label>
      <input type="text" name="email" id="email">
      <label for="password">password</label>
      <input type="password" name="password" id="password">
      <button>Log in</button>
      </form>
    </div>
 </div>
 <footer><a href="https://drinkwise.org.au/">DrinkWise.</a></footer>
  
</body>
</html>