<div class="home-content">
  <div class="user-posts">
    <h3>French Cheese and Wine Tasting ($100)</h3>
    <p>Come and discover the magic that is French cheese and wine!

This event is part of our Entertainment series focused on providing a relaxed and thoroughly enjoyable evening’s entertainment built around great wine and matching food.

We will lead you on a one night journey around France with 9 French wines and 9 specially selected matching French cheeses selected in conjunction with our friends from Simon Johnson Provedores.

Taste wines from the classic French wine regions including Champagne, Bordeaux, Burgundy, The Loire Valley, Alsace and Côtes du Rhône with each wine served with a matching cheese. 

This tasting is as enjoyable for a novice with no formal wine tasting experience as it is for someone who has years of experience. 

We provide specialist tasting books to help guide you through the wines of the evening. 

For more information click on the Book Now button.

Please note that we hold this event regularly (minimum once a month). To book an alternate date click on the book now button below and click through on the calendar. Alternatively you can buy a gift voucher and allow the recipient to choose their own date. </p>
    <img class="bottle" src="https://149557423.v2.pressablecdn.com/wp-content/uploads/2019/01/cheese-wine-header.jpg" alt="">
    <div>
</div>