<div class="home-content">
  <div class="user-posts">
    <h3>Keep food and wine at a similar weight</h3>
    <p>When we talk about weight, we don’t mean pounds or kilos. In terms of matching food weight to wine, we’re talking pairing lighter food (typically lower in fat) to lighter style wine, and heavier, richer food to heavier weight wine.
    Lightweight food like poultry and fish are complemented by more delicate wines. While a white wine is an instinctive choice, light, low-tannin reds also work a treat.
    Prawns and chardonnay are both medium-weight and rich so they complement each other.
    Rich, heavier foods such as red meat casseroles need full-bodied wines, such as shiraz.</p>
    <img class="bottle" src="https://images.squarespace-cdn.com/content/v1/56569c54e4b06edc0ac0c135/1582900402593-U1ENHBDRIBVWOIVZR81W/1.png?format=2500w" alt="">
    <div>
</div>




