<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WineLoversClub Sign in</title>
  <link rel="stylesheet" href="/stylesheet/main.css">
</head>
<body>
 <div class="logo"><h1>WineLoversClub</h1></div>
<form action="/new_user" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="last">Last Name</label>
    <input type="text" name="last" id="last">
    <label for="email">E-mail</label>
    <input type="text" name="email" id="email">
    <label for="password">password</label>
    <input type="password" name="password" id="password">
    <button>Create user</button>
 </form>
  
</body>
</html>